<div class="container d-flex flex-column h-100">
  <div class="row my-3">
    <div class="col">
      <mat-card>
        <mat-card-content>
          <div class="timer display-1">
            <div
              *ngIf="this.timerService.time$ | async; else emptyTimer; let time"
              (click)="timeClicked()"
            >
              {{ time.minutes.toString().padStart(2, "0") }}:{{
                time.seconds.toString().padStart(2, "0")
              }}:{{ time.milliseconds.toString().padStart(3, "0") }}
            </div>
            <ng-template #emptyTimer><div>00:00:00</div></ng-template>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-card class="">
        <mat-card-content>
          <div class="d-flex justify-content-between">
            <button mat-flat-button (click)="reset()">Reset</button>
            <button
              mat-flat-button
              color="primary"
              *ngIf="!this.timerService.isRunning"
              (click)="start()"
            >
              Start
            </button>
            <button
              mat-flat-button
              color="warn"
              *ngIf="this.timerService.isRunning"
              (click)="stop()"
            >
              Stop
            </button>
          </div>
          <div></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row my-3 ">
    <div class="col">
      <mat-card class="h-100">
        <mat-card-content>
            <mat-form-field class="w-100">
                <label>Notes</label>
                <textarea matInput  class="mt-1"  [(ngModel)]="this.entry.notes" style="height: 100px;">

                </textarea>
            </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
